@tailwind base;

@tailwind components;

@tailwind utilities;

.slider {
    @apply w-10 h-6 rounded-full cursor-pointer relative mr-2;
}


/* ---- TOOLTIPS ---- */
.tooltip::after {
	display: none;
	position: absolute;
	z-index: 999;
	background-color: white;
	border-width: 2px;
	border-color: #ED8936;
	border-radius: 10px;
	color: #ED8936;
	font-size: 1rem;
	content: 'Táto akcia sa môže kvôli pandemickej situácii zrušiť aj na poslednú chvíľu. Najaktuálnejšie informácie nájdeš na stránke organizátora.';
	padding: 5px 10px;
	margin: 10px;
	bottom: 0;
	left: 100%;
	width: 200px;
	transform: translate(-50%, calc(100% + 20px));
}

.tooltip:hover::after {
	display: block;
}

.tooltip::before {
	display: none;
	position: absolute;
	z-index: 999;
	border-radius: 6px;
	background-color: #ED8936;
	color: white;
	font-size: .75rem;
	font-weight: 600;
	content: 'Upozornenie';
	padding-inline: 5px;
	margin: 10px;
	height: 30px;
	bottom: 0;
	left: 37%;
	transform: translate(-50%, calc(100% + 5px));
}

.tooltip:hover::before {
    display: block;
}
