@tailwind base;

@tailwind components;

@tailwind utilities;

/* ---- SLIDER INPUT ---- */
.slider {
    @apply w-10 h-6 rounded-full cursor-pointer relative mr-2;
	background-color: #cbd5e0;
}

.slider:before {
    position: absolute;
    content: "";
    top: .25rem;
    left: .25rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #f7fafc;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
	background-color: #4299e1;
}

input:checked + .slider.inf {
	background-color: #7CB342;
}

input:checked + .slider.mat {
	background-color: #4299e1;
}

input:checked + .slider.fyz {
	background-color: #ED8936;
}

input:checked + .slider.otr {
	background-color: #E53E3E;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(1rem);
	-ms-transform: translateX(1rem);
	transform: translateX(1rem);
}

/* ---- SPINNER ---- */
.spinner {
	border-width: 20px;
	border-top-color: #4299e1;
	-webkit-animation: spinner-animation 1.5s linear infinite;
	animation: spinner-animation 1.5s linear infinite;
}

@-webkit-keyframes spinner-animation {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spinner-animation {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}


/* ---- TOOLTIPS ---- */
.tooltip::after {
	display: none;
	position: absolute;
	z-index: 999;
	background-color: white;
	border-width: 2px;
	border-color: #ED8936;
	border-radius: 10px;
	color: #ED8936;
	font-size: 1rem;
	content: 'Táto akcia sa môže kvôli pandemickej situácii zrušiť aj na poslednú chvíľu. Najaktuálnejšie informácie nájdeš na stránke organizátora.';
	padding: 5px 10px;
	margin: 10px;
	bottom: 0;
	left: 100%;
	width: 200px;
	transform: translate(-50%, calc(100% + 20px));
}

.tooltip:hover::after {
	display: block;
}

.tooltip::before {
	display: none;
	position: absolute;
	z-index: 999;
	border-radius: 6px;
	background-color: #ED8936;
	color: white;
	font-size: .75rem;
	font-weight: 600;
	content: 'Upozornenie';
	padding-inline: 5px;
	margin: 10px;
	height: 30px;
	bottom: 0;
	left: 37%;
	transform: translate(-50%, calc(100% + 5px));
}

.tooltip:hover::before {
    display: block;
}
